 * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
 }

 body {
    font-family: "Oswald", sans-serif;
    background-color: #ffd099;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23ffbbf3' fill-opacity='0.2'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    margin-right: 100px;
    margin-left: 100px;

 }

 a {
     color: black;
     text-decoration: none;
 }

 ul{
     list-style: none;
 }

 .container {
     width: 90%;
     margin: auto;

 }

/* navigation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0; 
}

.nav-brand {
    width: 50px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a {
    padding: 2px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #000000;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}


hr {
    margin: 10px 0;
}

/* shocase*/

.showcase{
    width: 100%;
    height: 350px;
    background: url(./img/foto\ encabezado.jpg) no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0px;
}

.btn:hover {
    opacity: .7;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
}


/* CARTAS-LUNA */
.cartas-luna {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.cartas-luna img{
    width: 100%;
    height: 180px;
}

.cartas-luna h3 {
    font-size: 20px;
    margin: 10px 0;
}

.cartas-luna a {
    padding: 10px 0;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.cartas-luna a:hover {
    text-decoration: underline;
}

/* --- cartas-banner-uno --- */

.cartas-banner-uno {
    width: 100%;
    height: 350px;
    background: url('./img/luna\ debajo\ del\ lavadero.jpg')no-repeat center center/cover;
    margin-bottom: 40px;

}


.cartas-banner-uno .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: white;
}

.cartas-banner-uno p,
.cartas-banner-uno h2 {
    margin: 10px 0 20px 0;
}
/* cartas del banner dos */
.cartas-banner-dos {
    width: 100%;
    height: 350px;
    background: url('./img/luna durmiendo.jpg') no-repeat center center/cover;
}

.cartas-banner-dos .content {
    width: 50%;
    padding: 100px 0 0 30px;
    color: white;
}

/* SOCIAL */

.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i{
    font-size: 3rem;
}

/* FOOTER LINKS */

.footer-links {
    background: gray;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}

.footer {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px) {

    .menu-btn {
        display: block;
    }


    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: salmon;
        height: 100%;
        padding-bottom: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu-right {
        margin-right: 40px;

    }

    .cartas-luna {
        grid-template-columns: repeat(2,1fr);
    }

    .cartas-banner-dos .content,
    .cartas-banner-uno .content {
        width: 80%;
    }

    .footer-links .container {
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width: 500px) {
    .cartas-luna {
        grid-template-columns: 1fr;
    }

    .cartas-luna img {
        height: 270px;
    }

    .cartas-banner-uno .content,
    .cartas-banner-dos .content  {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }

}

